<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<div align="center">
        <div align="center" class="border">
             <div class="header">
                 <h1> Delete Patient Details</h1>
             </div>
        </div>
</div>
<div align="center">
        <div align="center" class="border">
             <div class="header">
                 <form method="delete" action="/deletepatient">
                    <input type ="text" id="id" placeholder="Enter user id to be delete"> </br>
                     <button>Submit</button>
                 </form>
             </div>
        </div>
</div>
</body>
</html>