<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Hospital APP</title>
</head>
<body>
    <div align="center">
        <div align="center" class="border">
             <div class="header">
                 <h1 class="word">Welcome to Home Page</h1>
             </div>
        </div>
    </div>
    <h2 class="word">
        <div align="center">
            <div align="center" class="border">
                <div class="header">
                    <form method="post" action="/">
                        <button type ="submit">Register</button></br></br>
                        <button type ="submit">Get Patient Details</button>
                    </form>
                </div>
            </div>
        </div>
    </h2>

</body>
</html>